body{
    padding: 70px;
    margin: 0px;
   
    background-size: cover;
    background-image: url(gambar7.jpg);
}

.menu{
    padding-top:55px;
    padding-left: 50%;
}

ul{
    position: absolute;
    transform:translate(-50%,-50%);
    margin: 0;
    padding: 8px 0;
    background-color: white;
    display: flex;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0,0,0,.3);
}

ul li{
    list-style: none;
    text-align: center;
    display: block;
    border-radius: 1px solid rgba(14, 161, 80, 0.3);
}

ul li:last-child{
    border-right: none;
}

ul li a{
    text-decoration: none;
    padding: 0 50px;
    display: block;
}

ul li a .icon{
    width: 40px;
    height: 40px;
    text-align: center;
    overflow: hidden;
    margin: 0 auto 10px;
}

ul li a .icon .fa{
    width: 100%;
    height: 100%;
    line-height: 40px;
    font-size: 34px;
    transition: 0.5s;
    color: #000;
}

ul li a .icon .fa:last-child{
color: #e91e63;
}

ul li a:hover .icon .fa{
    transform: translateY(-100%);
}

ul li a .name{
    position: relative;
    height: 20px;
    width: 100%;
    display: block;
    overflow: hidden;
}

ul li a .name span{
    display: block;
    position: relative;
    color: rgb(158, 13, 13);
    font-size: 18px;
    line-height: 20px;
    transition: 0.5s;
    text-decoration: none;
}

ul li a .name span:before{
    content: attr(data-text);
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    color: #e91e63;
}

ul li a:hover .name span{
    transform: rotateY(20px);
}

main{
    display: flex;
}

.all{
    border-radius: 10px;
}

.bagian{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-shadow: chartreuse;
    background-color: white;
    height:900px;
    width: 70%;
    color: rgb(1, 1, 8);s
    margin: 0px;
    float: right;
    margin-right: 60px;
    border-radius: 15px;
}

.bagian1{
    box-shadow: blueviolet;
    color: brown;
    height: 900px;
    width: 20%;
    background-color:white;
    margin: 8px;
    margin-left: 60px;
    border-radius: 15px;
}

.circle{
    background-image: url(gambar/gambar8.jpg);
    background-size: 200px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    float: left;
    shape-outside: circle();50
    margin: 30px 30px 30px 0;
    margin-right: 30px;
    margin-left: 20px;
}

.circle2{
    text-align: center;
}

.circle2 h2{
    font-weight: bold;
    letter-spacing: 3px;
}

.card{
    position: relative;
    background: #fff;
    width: 400px;
    height: 500px;
    margin: 0 auto;
}

.card .content{
    width: 400px;
    padding: 30px;
    box-sizing: border-box;
}

.card .content a{
    display: inline-block;
    margin: 10px 0 0 ;
    padding: 10px 20px;
    text-decoration: none;
    border: 2px solid #000;
    color: #262626;
    font-weight: 600;
}

.card .slidetext{
    position: relative;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(0, 0, 0);
}

.card .slidetext h3{
    color: #fff;
    font-size: 3em;
}

.swiper-slide:nth-child(1) .slidetext{
    background: #2196f3;
}

.swiper-slide:nth-child(2) .slidetext{
    background: #0f9926;
}

.swiper-slide:nth-child(3) .slidetext{
    background: #100e75;
}

.swiper-slide:nth-child(4) .slidetext{
    background: #bb4c0d;
}
.bebek{
    border-radius: 50%;
}

.subjudul{
    background-color: #1899c0;
    width: 100%;
    height: 40px;
    color: red;
    font-weight: bold;
    text-align: center;
    padding: 5px 5px;
    letter-spacing: 3px;
    font-size: 20px;
}

.subjudul:hover{
    background-color: #262626;
}

.subjudul1{
    background-color: #3bd35c;
    width: 100%;
    height: 40px;
    color: red;
    font-weight: bold;
    text-align: center;
    padding: 5px 5px;
    letter-spacing: 3px;
    font-size: 20px;
}

.subjudul1:hover{
    background-color: #262626;
}

.subjudul2{
    background-color: #4d32e6;
    width: 100%;
    height: 40px;
    color: red;
    font-weight: bold;
    text-align: center;
    padding: 5px 5px;
    letter-spacing: 3px;
    font-size: 20px;
}

.subjudul2:hover{
    background-color: #262626;
}

.content p{
    text-align: justify;
}